.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btnArea{
  text-align: center;
  margin-top : 5%;
}
.btn-danger{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  display: inline-block;
  padding: 6px 18px;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #292c31;
  background-color: #4ECCA3;
  border-color: #47b691;
  outline : none;
}
.btn-danger:hover{
  background-color: #41ac88;
}
